@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f1f3;
    font-family: 'Montserrat', sans-serif;
}

#app-main {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#app-main input {
    width: 80%;
    height: 40px;
    border: 1px solid #f0f1f3;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#app-main button {
    width: 80%;
    height: 40px;
    border: 1px solid #f0f1f3;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f1f3;
    cursor: pointer;
    margin-bottom: 20px;
}

#app-main button:hover {
    background-color: #e1e2e4;
}

#app-main button:active {
    background-color: #d2d3d5;
}

#app-main-error {
    color: red;
}

#app-main-success {
    color: green;
}


.green_color {
    color: green;
}

.yellow_color {
    color: yellow;
}

.red_color {
    color: red;
}

